@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-brand: #2b2d31; /* Soft Charcoal */
    --secondary-accent: #d9c8a0; /* Warm Sand Beige */
    --background-light: #f7f5f0; /* Off-White Cream */
    --contrast-dark: #1c1d20; /* Deep Graphite */
    --text-primary: #131313; /* Almost Black */
    --text-secondary: #7a7d80; /* Cool Grey */
    --buttons-highlight: #7e8a52; /* Muted Olive */
  }
}
*{
 
  box-sizing: border-box;
}

body {
  background-color: var(--background-light);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
